.related {
  border-top: none;
}

.like-on-twitter {
  text-align: center;
}

.like-on-twitter p {
  margin: 0;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 2px dashed #55acee;
  color: #55acee;
}

.like-on-twitter p a {
  color: #55acee !important;
  text-decoration: none;
}

.like-on-twitter p a:hover {
  border-bottom: 1px solid #55acee;
}

